version: 2
updates:
  - package-ecosystem: maven
    directory: /
    open-pull-requests-limit: 20
    schedule:
      interval: daily
    labels:
      - "version-upgrade"

  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 20
    schedule:
      interval: daily
    labels:
      - "version-upgrade"

# OOTB branch
  - package-ecosystem: maven
    directory: /
    target-branch: ootb
    open-pull-requests-limit: 20
    schedule:
      interval: daily
    labels:
      - "version-upgrade"

  - package-ecosystem: github-actions
    directory: /
    target-branch: ootb
    open-pull-requests-limit: 20
    schedule:
      interval: daily
    labels:
      - "version-upgrade"